body {
  overflow: hidden; }

.image img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto; }

img:first-child {
  width: 100%;
  height: 100%; }

img + img {
  border-radius: 100%; }
